ion-avatar{
    width: 30%;
    height: auto;
    overflow: hidden;
    margin: 10% 0% 0% 35%;
  }

  p{
    color: red;
    font-size: 10px;
}
strong{

    color: red;
}
.bottomTab{
  margin-bottom:  21%;
}